/* Navbar styles */

body{
  background-color: #000;
  color: aliceblue;
}
.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 196, 0);
  padding: 10px; /* Adjusted padding */
}

/* Search bar styles */
input {
  color: white;
  background-color: black;
  border: none;
  height: 30px; /* Adjusted height */
  width: 150px; /* Adjusted width */
  font-size: 1rem;
  border-radius: 5px;
  margin-right: 10px; /* Added margin for spacing */
}

/* Search button styles */
.search-btn {
  color: #000;
  background-color: chartreuse;
  border-radius: 8px;
  width: 70px; /* Adjusted width */
}

/* Cart button styles */
.Cart-btn {
  color: #000;
  background-color: chartreuse;
  border-radius: 8px;
  width: 70px; /* Adjusted width */
}

.Home {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  justify-content: space-around; /* Adjusted justify-content */
  background-color: rgb(247, 247, 247);
  padding: 10px;
}

.Card {
  background-color: rgb(203, 207, 207);
  width: 20%;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Align content in a column */
  align-items: center; /* Center content horizontally */
  border-radius: 10px; /* Add border radius */
  overflow: hidden; /* Hide overflowing content, ensuring the border radius is applied */
}
.Card img {
  width: 80%; /* Make the image fill the container */
  height: auto; /* Maintain the image's aspect ratio */
  margin: 10px 20px 10px 10px;
  border-radius: 10px;

}

@media only screen and (max-width: 600px) {
  .Nav {
    flex-direction: column; /* Stack items vertically on smaller screens */
    
   
  }
  input, .search-btn, .Cart-btn {
    width: 100%;
    margin-top: 5px;
  }
  .Cart-btn {
    margin-left: auto; /* Push Cart-btn to the right */
  }
  .Card {
    width: 100%;
  }
}